<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../assets/styles/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="site-header">
      <nav class="site-nav">
        <img
          src="./../assets/imgs/colaboraciones-salvajes.png"
          alt="logo de la pagina"
          class="nav-logo-img"
        />
        <a href="./index.html">Inicio</a>
        <a href="./templates/catalogo.html" class="active">Ejemplares</a>
        <a href="./templates/apadrinamiento.html">Apadrinar y Donar</a>
        <div class="nav-actions">
          <button class="btn-theme" id="btn-theme" aria-label="Cambiar tema">
            <span class="icon-sun">☀️</span>
            <span class="icon-moon">🌙</span>
          </button>
          <a href="./templates/catalogo.html" class="btn-primary">Apadrinar</a>
        </div>
      </nav>
    </header>
    <main>
      <section>
        <div>
          <h1>Ejemplares residentes</h1>
          <p>
            Cada individuo cuenta con una pauta biomédica y seguimiento
            nutricional personalizado. Al apadrinar con nombre propio, solventas
            de forma directa su estancia, enriquecimiento ambiental y medicina
            preventiva.
          </p>
        </div>
        <div>
          <div>
            <button data-categoria="todas">Todos</button>
            <button data-categoria="tejon">Tejon de la miel</button>
            <button data-categoria="seal-lion">Leon marino</button>
            <button data-categoria="red-panda">Panda rojo</button>
          </div>
        </div>
      </section>

      <section class="catalogo">
        <div id="grid-animals"></div>
      </section>
      <section>
        <div>
          <h3>¿Por qué apadrinar de forma individualizada?</h3>
          <p>
            Al apadrinar a un animal específico, aseguras la continuidad
            estricta de sus tratamientos clínicos y sus complementos biológicos.
            Cada trimestre remitimos un balance con su peso, progreso conductual
            y fotografías actualizadas.
          </p>
        </div>
      </section>
    </main>
    <footer>
      <div>
        <span>Colaboraciones Salvajes</span>
        <p>
          Iniciativa de custodia responsable para la preservación de especies
          amenazadas y atención veterinaria continuada.
        </p>
      </div>
    </footer>
    <script type="module" src="./../js/main.js"></script>
  </body>
</html>
